.headerBlackMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin: auto;
}
.headerBlackContent {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerBlackLogo {
  width: 30px;
}
.headerBlackNavBar {
  text-decoration: none;
  font-size: 7px;
  font-family: Roboto;
  font-weight: bold;
  outline: none;
  color: black;
}
.headerBlackPersonalArea {
  font-weight: bold;
  font-family: Roboto;
  outline: none;
  font-size: 7px;
  text-decoration: none;
  color: black;
}
