@media (min-width: 374px) and (max-width: 673px){
    #main{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        margin: auto;
    }
    #content{
        display: flex;
        align-items: center;
        width: 70%;
        justify-content: space-between;
    }
    #logo{
        width: 30px;
    }
    #navBar {
        text-decoration: none;
        font-size: 7px;
        font-family: Roboto;
        font-weight: bold;
        outline: none;
    }
    #personalArea{
        font-weight: bold;
        font-size: 7px;
        text-decoration: none;
    }
    #person{

    }
}