.my-teamId-main {
}
.my-teamId-boxs {
  text-align: center;
}
.my-teamId-image {
  width: 120px;
}
.my-teamId-teamName {
}
.my-teamId-name {
  padding: 10px;
}
.my-teamId-buttons {
  padding: 20px;
}
